:root {
  --color-primary: rgb(62, 79, 92);
  --color-header-bg: #2c3e50;
  --color-text-light: #8a9ba8;
  --color-card-bg: rgba(254, 254, 254, 0.8);
  --color-card-bg-hover: white;
  --border-color: #5c5c5c25;
  --border-radius: 8px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f6f8fb;
  color: var(--color-primary);
  font-size: 13px; /* body smaller */
  line-height: 1.5;
}
